html {
    background-color: red;

}
#center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
}
#canvas {
    margin: 0 5% 0 10%;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 10px inset #e80000;
    border-radius: 0px;
    height: 500px;
    width: 500px;
    background-color: #f7f6f4;
}
h1 {
    font-family: 'Modak', cursive;
    font-size: 4em;
    font-weight: 400;
    padding-bottom: 0;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2em;
    padding-bottom: 0;
}
header {
    display: flex;
    justify-content: space-around;
    margin: 0% 0 0% 0;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 40%, #D1B464 100%);    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.subtitle {
    padding-bottom: 0;
    margin-top: 5%;
}
#directions {
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 40%, #D1B464 100%);    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  

}
.title {
    padding-bottom: 0;
}
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    font-style: italic;
    background-color: #f7f6f4;
    border: 10px outset #ffffff1f;
    margin-bottom: 30px;
    /* width: 100% */
}
.knob {
    
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #f7f6f4;
}

#slider {
    background-color: black;
    outline: none;
    border-radius: 50px;
    width: 100%;
}
#displayValue {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* color: #f7f6f4; */
    font-size: 1.5em;
    font-style: italic;
    margin: 0 0;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 40%, #D1B464 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
#selections {
    display: grid;
    margin: 0 0 0 5%;
    
}
#selected {
    background-color: #00000085;
}
#input-color {
    margin-left: 10px;
}

/* SHADING FOR PIXELS */
.blank {
    background-color: #f7f6f4;
}
.black {
    background-color: black;
}